@import url("https://www.w3schools.com/w3css/4/w3.css");

body{
    color: white;
}
.App{
    align-self: none;
    margin: auto;
    display: flex;
}

.sidebar{
    width:25%;
    right:0;
    top:0;
    background-color: black;
    
}

.sh{
    margin-top:200px;
}

.sitems{
    text-align: center;
    border: 1px solid rgb(14, 163, 231);
    border-radius: 5%;
    margin: none;
    width: min-content;

}

.itemContainer{
    display: flex;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
    max-width:50vw;
    margin: auto;
    padding: 20px;
  }

.pad{
    padding: 10px;
}

.recipelist{
    width: 60vw;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.recipeLogo{
    width: 150px;
    height: 150px;
    grid-area: menu;
    border: 1px solid rgb(14, 163, 231);
    border-radius: 5px;
}

.rheading{grid-area: footer; font-size: 1.5em;padding: 0%;}
.rinfo{grid-area: main; font-size: 0.7em;}
.rmore{font-size: 0.5em;
        border-radius: 5px;
        border: 1px solid rgb(14, 163, 231);
        color: rgb(14, 163, 231);
        background-color: transparent;
        text-align: center;
        color: white;
        /* width: max-content; */
        padding: 5px;
        margin: 0;
        height: 40px;
        font-size: 1em;
        grid-column-end: auto;
}




  .cards:hover{
      background-color: rgba(90, 88, 88, 0.5);
  } 

.rmore:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.cards{
    width:18rem;
    height:100%;
    border: 1px solid rgb(14, 163, 231);
    background-color: transparent;
}

.cfooter{
    align-items: center;

}

.ccfooter{
    margin: auto;
    width: fit-content;
}

.close{
    display:block;
    float:right;
    width:30px;
    height:29px;
    align-items: center;
    padding: 0;
}

