body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./bg3.jpg");
  background-size:auto;
  background-repeat: repeat;
  color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
